<template>
    <v-container fluid>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">Crear articulos</div>
                    <div class="card-body">
                        <form @submit.prevent="agregar">

                            <label for="titulo">Titulo</label>
                            <input type="text" class="form-control" v-model="product.title" />
                            
                            <label for="Imagen">Imagen</label>
                            <input type="text" class="form-control" v-model="product.imagen" />

                            <label for="Descripcion">Descripcion</label>
                            <input type="text" class="form-control" v-model="product.description" />

                            <label for="Precio">Precio</label>
                            <input type="text" class="form-control" v-model="product.precing" />

                            <label for="Categori">category</label>
                            <input type="text" class="form-control" v-model="product.category_id" />

                         
                            <button class="btn btn-dark" type="submit">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </v-container>
</template>

<script>
export default {
    data() {
        return {

            products:[],
            product: { title: '', imagen:'', description:'', precing:'', category_id:''}
           
        };
    },

    methods:{
        agregar() {
            const params = {
                title: this.product.title,
                imagen: this.product.imagen,
                description: this.product.description,
                precing: this.product.precing,
                category_id: this.product.category_id
               
            }
            axios.post('product-create',params).then(response => {
                title: this.product.title = '';
                imagen: this.product.imagen = '';
                description: this.product.description = '';
                precing: this.product.precing = '';
                category_id: this.product.category_id = '';
                
            })
            
        }
    }
};
</script>
