<template>
  <v-container fluid>
    <ul class="list-unstyled">
      <li v-for="item in producto" v-bind:key="item.id">
        <p>{{ item.title }}</p>
      </li>
    </ul>
  </v-container>
</template>

<script>
export default {
  props: {
    producto: {
      type: Array
    }
  },
  data() {
    return {};
  }
};
</script>
