<template>
  <v-app id="keep">
    <v-app-bar app clipped-left color="BLUE-GREY">
      <v-app-bar-nav-icon @click="drawer = !drawer" />
      <span class="title ml-3 mr-5">
        Google&nbsp;
        <span class="font-weight-light">Keep</span>
      </span>
      <v-text-field
        v-model="search"
        clearable
        flat
        solo-inverted
        hide-details
        prepend-inner-icon="search"
        label="Search"
      />
      <v-spacer />
    </v-app-bar>

    <v-navigation-drawer v-model="drawer" app clipped color="BLUE-GREY lighten-4">
      <v-list dense class="BLUE-GREY lighten-4">
        <template>
          <v-divider dark class="my-4" />
          <v-list-item link :to="{name:'index'}">
            <v-list-item-action>
              <v-icon>forum</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="black--text">Hogar</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item :to="{name:'created'}">
            <v-list-item-action>
              <v-icon>forum</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="black--text">Veiculos</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-content>
      <v-container fluid class="grey lighten-4 fill-height">
        <v-col class>
          <transition name="slide-fade" mode="out-in">
            <router-view :producto="filteredListProducts"></router-view>
          </transition>
        </v-col>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  data: () => ({
    drawer: null,
    Listproducts: [],
    search: ""
  }),

  created: function() {
    this.getListProducts();
  },

  computed: {
    filteredListProducts: function() {
      return this.Listproducts.filter(Listproducts => {
        return Listproducts.title.match(this.search);
      });
    }
  },
  methods: {
    getListProducts: function() {
      var urlProducts = "/product";
      axios.get(urlProducts).then(response => {
        this.Listproducts = response.data;
      });
    }
  }
};
</script>

<style>
#keep .v-navigation-drawer__border {
  display: none;
}
</style>